<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars is Amazing!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>MARS DATA</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
    </div>

    <!--mars scraping -->
    <div class="row" id="Mars">
      <div class="col-md-12">
        <h4 class="heading">{{mars.new_title}}<br> {{mars.new_p}}</h4>
        <small>{{mars.new_weather|safe}}</small>

        <table>{{mars.mars_facts|safe}}</table>

      </div>
    </div>

  </div>
</body>

</html>
